<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buffup">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>
        <activity android:name=".mock.MockActivity"
            android:theme="@style/Theme.AppCompat.Light"
            android:screenOrientation="landscape"/>
    </application>

</manifest>